@page "/SmsTemplate"


@layout HeaderPageLayout

<h3>TemplateStatic</h3>


@code {

    protected override void OnInitialized()
    {
        AppState.CurrentTitle = "Sms Templates";
        base.OnInitialized();
    }

}
