@page "/administration/companies"
@page "/administration/companies/{companyId}"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Form</h3>
<EditForm Model="@CompanyToEdit"
          OnValidSubmit="@UpsertRecord">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            Identifier:
            <InputText @bind-Value="CompanyToEdit.Id" />
        </label>
    </p>
    <p>
        <label>
            Description:
            <InputText @bind-Value="CompanyToEdit.Description" />
        </label>
    </p>

    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public string? CompanyId { get; set; }
    private EFModel.Company CompanyToEdit = new EFModel.Company();
    private bool CreateMode => CompanyId == null;
    protected override async Task OnInitializedAsync()
    {
        if (CompanyId == null)
        {
            CompanyToEdit = new EFModel.Company();
            return;
        }
        else
        {
            CompanyToEdit = await Http.GetFromJsonAsync<Aurora.Insurance.EFModel.Company>($"api/companies/{CompanyId}");
        }
    }

    private async Task UpsertRecord()
    {
        if (CreateMode)
        {
            await Http.PostAsJsonAsync("api/companies", CompanyToEdit);
            NavigationManager.NavigateTo("/administration/companies/list");
        }
        else
        {
            await Http.PutAsJsonAsync($"api/companies/{CompanyToEdit.Id}", CompanyToEdit);
            NavigationManager.NavigateTo("/administration/companies/list");
        }

    }

}
