@model Aurora.SMS.Web.Models.CustomerSelectionViewModel

<h2>Customer selection</h2>
<div class="well container" id="divCriteria">
    <form asp-action="SelectCustomers">
        <fieldset>
            <legend>Criteria</legend>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="control-label">Company</label>
                    <select asp-for="Criteria.CompanyId" asp-items="@(new SelectList(Model.Companies, "Id", "Description"))" class="form-control"></select>
                    @* @Html.DropDownListFor(m => m.Criteria.CompanyId, new SelectList(Model.Companies, "Id", "Description"))*@
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label">Contract Number</label>
                    <input asp-for="Criteria.ContractNumber" type="text" class="form-control" />
                    @*@Html.EditorFor(m => m.Criteria.ContractNumber)*@
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label">Issue Date(From)</label>
                    <input class="form-control" asp-for="Criteria.IssueDateFrom" type="date" />
                    @*@Html.EditorFor(m => m.Criteria.IssueDateFrom, new { htmlAttributes = new { type = "date" } })*@
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Issue Date(To)</label>
                    <input class="form-control" asp-for="Criteria.IssueDateTo" type="date" />
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label">Start Date(From)</label>
                    <input class="form-control" asp-for="Criteria.StartDateFrom" type="date" />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Start Date(To)</label>
                    <input class="form-control" asp-for="Criteria.StartDateTo" type="date" />
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label">Expire Date(From)</label>
                    <input class="form-control" asp-for="Criteria.ExpireDateFrom" type="date" />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Expire Date(To)</label>
                    <input class="form-control" asp-for="Criteria.ExpireDateTo" type="date" />
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label">Is Canceled</label>
                    @Html.EditorFor(m => m.Criteria.IsCanceled)
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Canceled Date</label>
                    <input class="form-control" asp-for="Criteria.CanceledDate" type="date" />
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">Plate Number</label>
                    <input class="form-control" asp-for="Criteria.PlateNumber" type="text" />
                </div>

                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary" value="Search">Search</button>
                </div>
            </div>
        </fieldset>

        <h2>Contracts</h2><button type="submit" class="btn btn-primary" value="AdvancedToSelectTemplate" formaction="AdvancedToSelectTemplate">Preview Messages</button>
        <hr />
    </form>
</div>



@await Html.PartialAsync("_CustomerResult", Model.Contracts)

